.header {
  grid-area: h;
  background-color: green;
}
.header img {
  width: 100px;
}

.loginBlock {
  float: right;
}

/*.header {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  padding: 0;*/
/*}*/

/*.logo {*/

/*}*/

/*.login {*/

/*}*/